<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/css/stylesheets/screen.css"/>
    <style>
        form span,.error{
            color: #ff0000;
        }

    </style>

    <title>VIVAMUS</title>
</head>
<body>
<header>
    <div class="logo-div">
        <img src="resources/images/NXTLVL_WEBDEV_VIVA_LOGO.png" class="logo">
    </div>
    <div class="menu-div">
        <nav>
            <ul>
                <li>
                    <a href="#">Bibendum</a>
                </li>
                <li>
                    <a href="#">Sollicitudin</a>
                </li>
                <li>
                    <a href="#">Metus</a>
                </li>
                <li>
                    <a href="#">Egestas</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="search-div">
        <input type="text">
        <img src="resources/images/NXTLVL_WEBDEV_ICON_MAGNIFYING.png"/>
    </div>
</header>

<!-- section-->
<section>
    <div>
        <h1>Sports Page</h1>
    </div>
    <div>
        <h2>Infos...</h2>
        <h2>Insert Info here</h2>
    </div>
</section>


<script src="resources/js/jquery-3.1.1.js"></script>
</body>
</html>